# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [5]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:edb1edB!@localhost:5432/homework-SQL")

In [58]:
# Write function that locates outliers using standard deviation
'''
get_outlier take a cardholder's id and return a dataframe containing the outliers
the method to identify outliers is 3 times standard deviation from the mean
'''
def get_outlier (cardholder):
    # get the transactions of the cardholder
    query = '''
            Select date, amount From transaction tr
                Join credit_card cc
                On tr.card = cc.card
                Where cc.cardholder_id = {}
            '''.format(cardholder)
    df = pd.read_sql(query,engine)

    # clean up the numeric column "amount" by removing $ and ,
    df['amount']=pd.to_numeric(df['amount'].str.strip('$').str.replace(',',''))
    
    # calculate the mean and standard deviation 
    the_mean = df.mean(numeric_only=True)
    the_std = df.std(numeric_only=True)
    
    # define the outlier threshold as 3 std from the mean
    the_lo = (the_mean - the_std * 3)[0]
    the_hi = (the_mean + the_std * 3)[0]
    print(f"Cardholder {cardholder} Outliers:\nthe lo:{the_lo}\nthe hi:{the_hi}")
    
    # selectively return the dataframe of the outliners
    return df[(df['amount']>=the_hi) | (df['amount']<=the_lo)]

In [59]:
# Find anomalous transactions for 3 random card holders

# show outliers of cardholder 25
display(get_outlier(25))

# show outliers of cardholder 2
display(get_outlier(2))

# show outliers of cardholder 18
display(get_outlier(18))

Cardholder 25 Outliers:
the lo:-830.6037432013711
the hi:1021.7074528787905

                   date  amount
8   2018-01-30 18:31:00  1177.0
22  2018-03-06 07:18:09  1334.0
37  2018-04-08 06:03:50  1063.0
50  2018-05-13 06:31:20  1046.0
54  2018-06-04 03:46:15  1162.0
63  2018-06-22 06:16:50  1813.0
120 2018-12-18 13:33:37  1074.0

Cardholder 2 Outliers:
the lo:-7.031684637189626
the hi:26.215523021028012

Empty DataFrame
Columns: [date, amount]
Index: []

Cardholder 18 Outliers:
the lo:-883.1606185891228
the hi:1065.1246787394987

                   date  amount
18  2018-02-19 22:48:25  1839.0
34  2018-04-03 03:23:37  1077.0
49  2018-06-03 20:02:28  1814.0
90  2018-09-10 22:49:41  1176.0
117 2018-11-17 05:30:43  1769.0
123 2018-12-13 12:09:58  1154.0

## Identifying Outliers Using Interquartile Range

In [81]:
# Write a function that locates outliers using interquartile range
'''
get_outlier take a cardholder's id and return a dataframe containing the outliers
the method to identify outliers is 2.22 times inter-quatile deviation from the median
'''
def get_outliers (cardholder):
    # get the transactions of the cardholder
    query = '''
            Select date, amount From transaction tr
                Join credit_card cc
                On tr.card = cc.card
                Where cc.cardholder_id = {}
            '''.format(cardholder)
    df = pd.read_sql(query,engine)

    # clean up the numeric column "amount" by removing $ and ,
    df['amount']=pd.to_numeric(df['amount'].str.strip('$').str.replace(',',''))

    
    # calculate the quartiles into a list/array
    quantiles = (df['amount'].quantile([0.25,0.5,0.75])).values
    
    # calculate the inter-quartile distance, the median
    the_iqd = quantiles[2]-quantiles[0]
    the_median = quantiles[1]
    # calculate the threshold used to detect outliers as the 2.22 IQD from the median
    the_lo = the_median - the_iqd * 2.22
    the_hi = the_median + the_iqd * 2.22
    
    print("Outliers of cardholder {cardholder}:\n")
    print(f"the lo:{the_lo}\nthe hi:{the_hi}")
    # selectively return the dataframe of the outliners
    return df[(df['amount']>=the_hi) | (df['amount']<=the_lo)]

In [82]:
# Find anomalous transactions for 3 random card holders
# show outliers of cardholder 25
display(get_outliers(25))

# show outliers of cardholder 2
display(get_outliers(2))

# show outliers of cardholder 18
display(get_outliers(18))

Outliers of cardholder {cardholder}:

the lo:-15.23515
the hi:35.52515

                   date  amount
8   2018-01-30 18:31:00  1177.0
22  2018-03-06 07:18:09  1334.0
33  2018-04-01 07:17:21   100.0
37  2018-04-08 06:03:50  1063.0
40  2018-04-09 18:28:25   269.0
50  2018-05-13 06:31:20  1046.0
54  2018-06-04 03:46:15  1162.0
55  2018-06-06 21:50:17   749.0
63  2018-06-22 06:16:50  1813.0
81  2018-08-16 10:01:00  1001.0
97  2018-10-28 02:12:58   137.0
120 2018-12-18 13:33:37  1074.0

Outliers of cardholder {cardholder}:

the lo:-10.064100000000002
the hi:30.5841

Empty DataFrame
Columns: [date, amount]
Index: []

Outliers of cardholder {cardholder}:

the lo:-17.824000000000005
the hi:38.564

                   date  amount
2   2018-01-07 01:10:54   175.0
3   2018-01-08 11:15:36   333.0
18  2018-02-19 22:48:25  1839.0
34  2018-04-03 03:23:37  1077.0
49  2018-06-03 20:02:28  1814.0
62  2018-06-30 01:56:19   121.0
66  2018-07-06 16:12:08   117.0
71  2018-07-18 09:19:08   974.0
87  2018-09-02 11:20:42   458.0
90  2018-09-10 22:49:41  1176.0
117 2018-11-17 05:30:43  1769.0
123 2018-12-13 12:09:58  1154.0